<div class="about" id="about">

  <div class="about header">
    <h1> {{ site.data.about["page-header"] }} </h1>
  </div>

  <!-- <section class="mission">
    <div class="graphic top">
      <img src="/img/customers-0.jpg" alt="Happy Customers" width="800px" height="533px">
    </div>
    <div class="text">
      <h2>Our Mission</h2>
      <p>
        Our mission is simple, to "Excite your taste spuds!" We provide excitement through our diligence to quality, consistency
        and value in every product we serve. We strive to:
      </p>
      <ul>
        <li>Bring the potato to its rightful place in the food chain.</li>
        <li>Inspire more complete nutritional choices worldwide.</li>
        <li>Make a difference in our community.</li>
      </ul>
    </div>
  </section>

  <section class="culture wrap-reverse">
    <div class="text">
      <h2>Our Story</h2>
      <p>
        Daniel McCarthy saw all the burger and hot dog choices around Columbus and felt it was past time to tout the most popular
        side dish for those meals — the ’tater.
      </p>
    </div>
    <div class="graphic top">
      <img src="/img/owner-0.jpg" alt="Tatoheads Owner" width="620px" height="414px">
    </div>
  </section>

  <section class="story">
    <div class="graphic top">
      <img src="/img/culture-0.jpeg" alt="Tatoheads Employees" width="246px" height="163px">
    </div>
    <div class="text">
      <h2>Our Culture</h2>
      <p>
        We strive to nurture our team and build value in our relationship with ourselves and the community we serve. We are open
        to learning from our experience and developing a community that approaches customer with "old school" customer service.
      </p>
    </div>
  </section> -->

  {% for section in site.data.about["sections"] %}
    {% assign mod = forloop.index0 | modulo: 2 %}
    {% if mod == 0 %}
  <section>
    {% else %}
  <section class="reverse">
    {% endif %}
    <div class="graphic top">
      <img src="{{ section.image.src }}" alt="{{ section.image.alt }}">
    </div>
    <div class="text">
      <h2>{{ section.header }}</h2>
      {{ section.text | markdownify }}
    </div>
  </section>

  {% endfor %}

</div>